@font-face {
    font-family: Clash;
    src: url("fonts/Supercell-magic-webfont.ttf");
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-image: url("images/board-background.png");
    background-repeat: no-repeat;
    background-size: cover; 
    font-family: Clash;
}

#intro-modal {
    display: flex;
}

.modal-open .modal {
    justify-content: center;
}

.modal-dialog {
    height: 40%;
    top: 35%;
}

.modal-image {
    background-image: url("images/npc.png");
    height: 30%;
    top: 5%;
    background-repeat: no-repeat;
    background-size: contain; 
    position: absolute;
}

.modal-title {
    color: gold;
    text-shadow: 2px 5px 2px black, 0 0 15px black, 0 0 12px black;
}

.modal-header h2 {
    font-size: 24px;
}

.modal-content {
    background: black;
}


.modal-body p {
    font-size: 20px;
    color: white;
}

.modal-footer {
    display: flex;
    justify-content: center;
}

.modal-backdrop.in {
    opacity: 0.9;
    background: black
}

/* .modal-content {
    background: transparent;
} */

.head-container {
    /* width: 100%; */
    height: 12vh;
    position: relative;
    font-family: Clash;
    /* background-image: url("images/banner1.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
}

.bannerContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    background-position: center;
}

.logo, .title {
    display: inline-block;
    font-size: 1rem;
}

.logo {
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.logo-img {
    position: relative;
    /* left: 50%;
    top: 6%; */
    height: 80%;
    position: relative;
    bottom: 3px;
}

.title {
    font-size: 40px;
    color: white;
    position: relative;
    vertical-align: top;
    font-family: Clash;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-title {   
    color: gold;
    text-align: center;
    text-shadow: 2px 5px 2px black, 0 0 15px black, 0 0 20px black;
    font-size: 40px;
    position: relative;
    font-family: Clash;
    margin: 0;
}

.flag {
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.flag-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.logo-right {
    right: 10px;
}

/* 
.about-me {
    width: 30%;
    height: 100%;
    background-color: yellow;
} */

.game-info, .game-area, .extras-area {
    display: inline-block;
    font-size: 1rem;
    color: gold;
    text-align: center;
    text-shadow: 2px 2px 2px black;
    /* text-shadow: 2px 2px 2px black, 2px 0px 10px navajowhite, 0 0 5px red; */
}

.game-info {
    width: 14vw;
    height: 88vh;
    /* background-color: black; */
    font-size: 18px;
    vertical-align: top;
    border: 10px ridge gold;
    background-color: rgba(0,0,0, 0.5);
    /* border-right: none; */
    font-family: Clash;
}

.label {
    position: relative;
    top: 15%;
    color: gold;
}

.games-played {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-family: Clash;
}

.infoContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.attempts {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: relative;
    font-family: Clash;
}

.accuracy {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: relative;
    font-family: Clash;
}

.value {
    top: 33%;
    right: 2%;
    position: relative;
}

.accuracyValue {
    top: 35%;
    position: relative;
}

.reset {
    width: 100%;
    height: 20%;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#reset-game {
    background-size: contain;
    height: 60%;
    position: relative;
    margin: auto;
}

.game-area {
    width: 72vw;
    height: 88vh;
    border: 10px ridge gold;
    border-left: none;
}

.board-img {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: black;
}

/* .card-container {
    width: 16.6%;
    height: 33%;
    float: left;
    margin: 0;
    cursor: pointer;
} */

.card {
    /* height: 100%;
    top: 2%;
    left: 2%; */
    position: relative;
    /* border-radius: 15px; */
    width: 19.9%;
    height: 24.8%;
    left: 0.3%;
    top: 0.3%;
    float: left;
    margin: 0;
    transition: all 0.5s ease;
    transform-style: preserve-3d;
}

.front {
    /* border-radius: 15px; */
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    height: 100%;
}

.back{
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.front-img{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.back-img{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 5px ridge goldenrod; 
    border-radius: 10px;
}

.extras-area {
    width: 14vw;
    height: 88vh;
    border: 10px ridge gold;
    background-color: rgba(0,0,0, 0.5);
    /* border-left:none; */
    /* background-color: black; */
}

.shadow {
    box-shadow: 10px 10px 20px black;
}

.rotate {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.hide {
    display: none;
}

/* PORTRAIT */

@media  (orientation: portrait) {

.modal-dialog {
    top: 40%;
}

.modal-image {
    background-image: url("images/npc.png");
    height: 30%;
    top: 10%;
    background-repeat: no-repeat;
    background-size: contain; 
    position: absolute;
}

.logo-img {
    position: relative;
    height: 60%;
    position: relative;
}

.label {
    font-size: 20px;
}

.game-title {
    font-size: 50px;
}

.game-info {
    width: 100vw;
    height: auto;
    border-bottom: none;
}

.infoContainer {
    height: 80%;
    background-color: rgba(0,0,0, 0.5);
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
        font-family: Clash;
}

.games-played {
    height: 100px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
}

.attempts {
    height: 100px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
}

.accuracy {
    height: 100px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
}

.reset {
    height: 100px;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#reset-game {
    /* background-size: contain; */
    width: auto;
    height: 60%;
    position: relative;
    margin: 0 auto;
}

.game-area{
    width: 100vw;
    height: 65vh;
    border-left: 10px ridge gold;
}

.card {
    width: 19.9%;
    height: 24.8%;
    left: 0.3%;
    top: 0.3%;
}

.extras-area {
    width: 100vw;
    height: 9vh;
    border-top: none;
} 


}