@font-face {
    font-family: Clash;
    src: url("fonts/Supercell-magic-webfont.ttf");
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-image: url("images/board-background.png");
    background-repeat: no-repeat;
    background-size: cover; 
    font-family: Clash;
}

#intro-modal {
    display: flex;
}

.modal-open .modal {
    justify-content: center;
}

.modal-header {
    padding: none;
}

.intro-dialog {
    height: 40%;
    top: 35%;
}

.intro-image {
    height: 30%;
    top: 5%;
    background-repeat: no-repeat;
    background-size: contain; 
    position: absolute;
}

.intro-title, .lose-title {
    color: gold;
    text-shadow: 2px 5px 2px black, 0 0 15px black, 0 0 12px black;
}

.intro-header h2 {
    font-size: 24px;
}

.intro-content, .lose-content {
    background: transparent;
}


.intro-body p {
    font-size: 20px;
    color: white;
}

.intro-footer, .lose-footer {
    display: flex;
    justify-content: center;
}

.modal-backdrop.in {
    opacity: 0.9;
    background: black
}

.modal-footer .playBtn {
    border-radius: 5px;
    background: #fff;
    cursor: pointer;
    border: none;
    box-shadow: 0 0 2px rgba(255,2525,255, 0.5);
    animation: pulse 1.5s infinite;
    -webkit-animation: pulse 1.5s infinite;
    font-size: 20px;
    text-align: center;
    letter-spacing: -1px;
}

.modal-footer .playBtn:hover {
  -webkit-animation: none;
}

.head-container {
    height: 12vh;
    position: relative;
    font-family: Clash;
}

.bannerContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    background-position: center;
}

.logo, .title {
    display: inline-block;
    font-size: 1rem;
}

.logo {
    display: flex;
    align-items: center;
    height: 100%;
}

.logo-img {
    position: relative;
    /* left: 50%;
    top: 6%; */
    height: 80%;
    position: relative;
    bottom: 3px;
}

.title {
    font-size: 40px;
    color: white;
    position: relative;
    vertical-align: top;
    font-family: Clash;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-title {   
    color: gold;
    text-align: center;
    text-shadow: 2px 5px 2px black, 0 0 15px black, 0 0 20px black;
    font-size: 3vw;
    position: relative;
    font-family: Clash;
    margin: 0;
}

.flag {
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.flag-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.logo-right {
    right: 10px;
}

.speaker {
    display: flex;
    position: absolute;
    height: 100%;
    right: 0;
    top: 25%;
}

.play {
    background: url("images/speaker.png");
    background-repeat: no-repeat;
    height: 50%;
    width: 50px;
}

.mute {
    background: url("images/speakerOff.png");
    background-repeat: no-repeat;
    height: 50%;
    width: 50px;
}

.elixir-container-landscape {
    height: 100%;
    z-index: 100;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Safari */
    transform: rotate(180deg);
}

.elixir-landscape {
    width: 3.5vw;
    max-height: 6vh;
    bottom: -25%;
    position: absolute;
    border-radius: 50% 25% 50% 50%;
    border: none;
    box-shadow: 0 0 20px rgba(255,2525,255, 0.3), 0 0 30px rgba(255,2525,255, 0.3);
    animation: pulse 1.5s infinite;
    -webkit-animation: pulse 1.5s infinite;
}

.extras-area-portrait .progress-portrait {
    height: 30px;
    margin-bottom: 0;
    border: 5px ridge gold;
    border-radius: 10px;
}

.extras-area-landscape .progress-landscape {
    width: 30px;
    margin-bottom: 0;
    border: 5px ridge gold;
    border-radius: 10px;
}

.kingHappy-landscape, .kingCry-landscape {
    height: 100%;
    width: 100%;
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.kingAngry-landscape {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.kingCry-portrait .cry-portrait, .kingHappy-portrait .happy-portrait {
    height: 80%;
}

.kingCry-landscape .cry-landscape, .kingHappy-landscape .happy-landscape {
    height: 100%;
    max-width: 6vw;
}

.kingAngry-landscape .angry-landscape {
    height: 100%;
    max-width: 6vw;
}

.game-info, .game-area, .extras-area-portrait, .extras-area-landscape {
    display: inline-block;
    font-size: 1rem;
    color: gold;
    text-align: center;
    text-shadow: 2px 2px 2px black;
}

.game-info {
    width: 14vw;
    height: 88vh;
    font-size: 2vw;
    vertical-align: top;
    border: 10px ridge gold;
    background-color: rgba(0,0,0, 0.5);
    font-family: Clash;
}

.label {
    position: relative;
    top: 15%;
    color: gold;
}

.reset-title {
    font-size: 1.85vw;
}

.games-played {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: Clash;
}

.infoContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.attempts {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    font-family: Clash;
}

.accuracy {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    font-family: Clash;
}

.value {
    position: relative;
}

.accuracyValue {
    position: relative;
}

.reset {
    width: 100%;
    height: 20%;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#reset-game {
    background-size: contain;
    height: 60%;
    position: relative;
    margin: auto;
}

.game-area {
    width: 72vw;
    height: 88vh;
    border: 10px ridge gold;
    border-left: none;
}

.board-img {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: black;
}

.card {
    position: relative;
    width: 19.9%;
    height: 24.8%;
    left: 0.3%;
    top: 0.3%;
    float: left;
    margin: 0;
    transition: all 0.5s ease;
    transform-style: preserve-3d;
}

.front {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    height: 100%;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.front-img{
    height: 100%;
    top: 0;
    left: 0;
}

.back{
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.back-img{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 5px ridge goldenrod; 
    border-radius: 10px;
}

.extras-area-portrait, .extras-area-landscape {
    width: 14vw;
    height: 88vh;
    border: 10px ridge gold;
    background-color: rgba(0,0,0, 0.5);
}

.shadow {
    box-shadow: 10px 10px 20px black;
}

.rotate {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.hide {
    display: none;
}

.win-dialog {
    width: 50%;
    height: 25%;
    margin: 0 auto;
}

.image-container2 {
    height: 28%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 4%;
}

.image-container {
    height: 28%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.win-image {
    height: 100%;
    top: 5%;
    background-repeat: no-repeat;
    background-size: contain; 
    margin: 0 10%;
}

.win-title {
    color: gold;
    text-shadow: 2px 5px 2px black, 0 0 15px black, 0 0 12px black;
}

.win-body h2 {
    font-size: 16px;
}

.win-content {
    height: 90%;
    background: transparent;
}


.win-body p {
    font-size: 20px;
    color: white;
}

.win-footer {
    display: flex;
    justify-content: center;
}

.modal-backdrop.in {
    opacity: 0.9;
    background: black
}

.modal-footer .playAgain {
    border-radius: 5px;
    background: #fff;
    cursor: pointer;
    border: none;
    box-shadow: 0 0 2px rgba(255,2525,255, 0.5);
    animation: pulse 1.5s infinite;
    -webkit-animation: pulse 1.5s infinite;
    font-size: 15px;
    text-align: center;
    letter-spacing: -1px;
}

.modal-footer .playAgain:hover {
    -webkit-animation: none;
}

.lose-body h2 {
    font-size: 20px
}

.lose-content .lose-header {
    padding: 0;
}

.lose-dialog {
    margin: 0 auto;
}

.lose-image {
    height: 100%;
    margin: 0 10%;
}

.extras-area-portrait {
    display: inline-flex;
    flex-direction: row; 
    justify-content: space-around;
    align-items: center;
    vertical-align: top;
}

.king-container-portrait {
    height: 100%;
}

.king-container-landscape {
    height: 10%;
}

.extras-area-landscape {
    display: inline-flex;
    flex-direction: column; 
    justify-content: space-around;
    align-items: center;
    vertical-align: top;
}

.progress-portrait {
    width: 80%;
}

.progress-landscape {
    height: 80%;
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Safari */
    transform: rotate(180deg);
}

.barSuccess-landscape, .barWarning-landscape, 
.barDanger-landscape {
    width: 100%
}

.disable {
    cursor: not-allowed;
}

.errorShake{
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

/* Game animations */

@keyframes shake {
10%, 90% {
    transform: translate3d(-1px, 0, 0);
}

20%, 80% {
    transform: translate3d(2px, 0, 0);
}

30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
}

40%, 60% {
    transform: translate3d(4px, 0, 0);
}
} 

@keyframes pulse {
0% {
    transform: scale(.9);
}
70% {
    transform: scale(1);
    box-shadow: 0 0 0 15px rgba(255,255,255, 0);
}
    100% {
    transform: scale(.9);
    box-shadow: 0 0 0 0 rgba(255,255,255, 0);
}
}

/* PORTRAIT */

@media (orientation: landscape) {
    .extras-area-portrait {
        display: none;
    }
}

/* PORTRAIT */

@media  (orientation: portrait) {

.intro-dialog {
    top: 40%;
}

.intro-image {
    height: 25%;
    top: 10%;
    background-repeat: no-repeat;
    background-size: contain; 
    position: absolute;
}

.intro-header h2 {
    font-size: 30px
}

.intro-body p {
    font-size: 27px;
}

.modal-footer .playBtn {
    font-size: 30px;
}

.modal-footer .playAgain {
    font-size: 25px;
}

.lose-body h2 {
    font-size: 30px
}

.intro-image {
    height: 25%;
    top: 10%;
    background-repeat: no-repeat;
    background-size: contain; 
    position: absolute;
}

.logo-img {
    position: relative;
    height: 60%;
    position: relative;
}

.game-title {
    font-size: 5vw;
}

.game-info {
    height: 10vh;
    width: 100%;
    border-bottom: none;
    font-size: 3vw;
}

.infoContainer {
    height: 100%;
    background-color: rgba(0,0,0, 0.5);
    display: flex;
    flex-direction: row;
    font-family: Clash;
}

.games-played {
    height: 100%;
}

.attempts {
    height: 100%;
}

.accuracy {
    height: 100%;
}

.reset-title {
    font-size: 3vw;
}

.reset {
    height: 100%;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#reset-game {
    width: 30%;
    position: relative;
    margin: 0 auto;
}

.game-area{
    width: 100vw;
    height: 65vh;
    border-left: 10px ridge gold;
}

.card {
    width: 19.9%;
    height: 24.8%;
    left: 0.3%;
    top: 0.3%;
}

.front {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.front-img{
    max-height: fit-content;
    width: 100%;
    top: 0;
    left: 0;
}

.extras-area-portrait {
    width: 100vw;
    height: 10vh;
    border-top: none;
} 

.win-dialog {
    height: 25%;
}

.win-body h2 {
    font-size: 30px
}

.image-container2 {
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20%;
}

.image-container {
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.win-image {
    height: 100%;
    top: 5%;
    background-repeat: no-repeat;
    background-size: contain; 
    /* position: absolute; */
    margin: 0 10%;
}

.lose-dialog {
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lose-body h2 {
    font-size: 30px
}

.lose-container2 {
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20%;
}

.lose-container {
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.lose-image {
    /* background-image: url("images/npc.png"); */
    height: 100%;
    top: 5%;
    background-repeat: no-repeat;
    background-size: contain; 
    /* position: absolute; */
    margin: 0;
}

.kingAngry-portrait .angry-portrait{
    height: 80%;
}

.elixir-container-portrait {
    height: 100%;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.elixir-portrait {
    max-width: 6vw;
    position: absolute;
    left: 15%;
    border-radius: 50% 25% 50% 50%;
    border: none;
    box-shadow: 0 0 20px rgba(255,2525,255, 0.3), 0 0 30px rgba(255,2525,255, 0.3);
    animation: pulse 1.5s infinite;
    -webkit-animation: pulse 1.5s infinite;
}

.kingCry-portrait, .kingHappy-portrait {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-bottom: 5%; */
}

.kingAngry-portrait {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-bottom: 10%; */
}

.extras-area-landscape {
    display: none;
}

}

@media (min-width: 1366px) and (orientation: landscape){
    .game-info {
        font-size: 27px;
    }

    .intro-header h2 {
        font-size: 35px;
    }

    .intro-body p {
        font-size: 24px;
    }    

    .modal-footer .playBtn {
        font-size: 30px;
    }

    .win-body h2 {
        font-size: 30px;
    }

    .modal-footer .playAgain {
        font-size: 20px;
    }
    
    .modal-header {
        padding: none;
    }

    .win-dialog {
        width: 40%;
        height: 20%;
    }

    .lose-body h2 {
        font-size: 30px;
    }

    .lose-dialog {
        width: 40%;
        height: 20%;
    }
}

/* .kingAngry-portrait,
.angry-landscape {
    display: none;
}

.kingCry-portrait,
.cry-landscape {
    display: none;
} */

.hide{
    display: none;
}
